body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    font: 16px Arial;
}

table {
    font: 0.69em Arial;
    background-color: #595959;
    width: 280px;
    border-spacing: 0;
}

#headerCol {
    width: 100px;
}

#dataCol {
    width: 180px;
}

th {
    font-style: italic;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    color: #ffffff;
    padding-bottom: 7px;
}

td {
    text-align: left;
    vertical-align: top;
    padding-bottom: 7px;
}

.generalInfo {
    font: 1em Arial;
    text-align: left;
    color: #fff2b2;
    padding-bottom: 7px;
}

    .generalInfo:first-of-type {
        padding-bottom: 0;
    }

.support {
    font: 1em Arial;
    color: red;
    font-weight: bold;
    vertical-align: text-top;
}

.grayTxt {
    font: 1em Arial;
    text-align: left;
    color: #B6B2A7;
    padding-bottom: 7px;
}

#ticketID {
    font: 1.4em Arial;
    text-align: left;
    color: #B6B2A7;
}

#bullet {
    background-image: url(bullet.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 15px;
}

#status {
    font: 1em Arial;
    color: #DE6A24;
    font-weight: bold;
}