<table class="table table-bordered text-center">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">License</th>
    <th class="text-center">Total Users</th>
    <th class="text-center">Created On</th>
  </tr>
  <tr ng-repeat="project in vm.projects">
    <td><a href="#/projects/{{project.Id}}">{{project.Name}}</a></td>
    <td><img src="img/license/{{project.License}}.png" height="25" width="25"></td>
    <td>{{project.TotalUsers}}</td>
    <td>{{project.CreatedOn | beautifulDate}}</td>
  </tr>
</table>