body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Arial;
    text-align: left;
}

table {
    border-bottom: 1px solid #BFBDA1;
    border-spacing: 0;
    border-collapse: collapse;
    width: 456px;
    height: 133px;
    margin: 10px 0 0 10px;
}

#col2, #col3 {
    border-left: 1px solid #BFBDA1;
    border-right: 1px solid #BFBDA1;
}

#col1 {
    width: 30%;
}

#col2 {
    width: 24%;
}

#col3 {
    width: 28%;
}

#col4 {
    width: 18%;
}

th {
    border-bottom: 1px solid #BFBDA1;
    padding-left: 4px;
    font: normal normal 12px Arial;
    color: white;
}

td {
    padding-left: 4px;
    line-height: 20px;
}

tr:nth-child(2n+1) {
    background: #ECECD8;
}

tr:nth-child(1) {
    background: #5ec306; /* Old browsers */
    background: -moz-linear-gradient(top, #5ec306 0, #47a803 100%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#5ec306), color-stop(100%,#47a803), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5ec306 0,#47a803 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5ec306 0,#47a803 100%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5ec306 0,#47a803 100%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5ec306 0,#47a803 100%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ec306', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.MX, .UK, .DE {
    background-image: url(World-flags_s.gif);
    background-repeat: no-repeat;
    float: left;
    text-indent: 30px;
    width: 29px;
    height: 18px;
}

.MX {
    background-position: -304px -254px;
}

.UK {
    background-position: -33px -447px;
}

.DE {
    background-position: -439px -126px;
}
