doctype
html
    head
        title YouTube Playlists System
        link(rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body
        header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") YouTube Playlists
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    if (currentUser)
                        li
                            a(href="/playlists/all?page=1") All Playlists
                        li
                            a(href="/playlists/my") My Playlists
                        li
                            a(href="/playlists/create") Create Playlist
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/logout") Logout
                    if (!currentUser)
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login

        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content

        footer.footer
            p.text-center
                | &copy; Home ltd. 2015 ;)

        include scripts