extend layout

block content

    div.container
        div.jumbotron
            h1 Welcome stranger
            p This is a place where you can upload images
            p
                a.btn.btn-primary.btn-lg(href="images") Go to see the images