.clearfix, body header div#header-container, body header nav, body header nav ul, body header nav ul li ul.sub-nav-list, body section, body aside {
    zoom: 1;
}

    .clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after, .clearfix:before, body header div#header-container:before, body header nav:before, body header nav ul:before, body header nav ul li ul.sub-nav-list:before, body section:before, body aside:before {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    .clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after {
        clear: both;
    }

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}

body {
    font: 14px normal Arial;
    color: white;
    background: #d691fe; /* Old browsers */
    background: -moz-linear-gradient(top, #d691fe 0, #d192fd 1%, #d391fd 1%, #d091fa 1%, #cb8ef5 4%, #c48af1 5%, #b35af4 11%, #b05af3 11%, #a53bf3 14%, #9f31f4 16%, #9c2ef1 17%, #8e1aef 20%, #9315f2 24%, #9315f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#d691fe), color-stop(1%,#d192fd), color-stop(1%,#d391fd), color-stop(1%,#d091fa), color-stop(4%,#cb8ef5), color-stop(5%,#c48af1), color-stop(11%,#b35af4), color-stop(11%,#b05af3), color-stop(14%,#a53bf3), color-stop(16%,#9f31f4), color-stop(17%,#9c2ef1), color-stop(20%,#8e1aef), color-stop(24%,#9315f2), color-stop(100%,#9315f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d691fe 0,#d192fd 1%,#d391fd 1%,#d091fa 1%,#cb8ef5 4%,#c48af1 5%,#b35af4 11%,#b05af3 11%,#a53bf3 14%,#9f31f4 16%,#9c2ef1 17%,#8e1aef 20%,#9315f2 24%,#9315f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d691fe 0,#d192fd 1%,#d391fd 1%,#d091fa 1%,#cb8ef5 4%,#c48af1 5%,#b35af4 11%,#b05af3 11%,#a53bf3 14%,#9f31f4 16%,#9c2ef1 17%,#8e1aef 20%,#9315f2 24%,#9315f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d691fe 0,#d192fd 1%,#d391fd 1%,#d091fa 1%,#cb8ef5 4%,#c48af1 5%,#b35af4 11%,#b05af3 11%,#a53bf3 14%,#9f31f4 16%,#9c2ef1 17%,#8e1aef 20%,#9315f2 24%,#9315f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d691fe 0,#d192fd 1%,#d391fd 1%,#d091fa 1%,#cb8ef5 4%,#c48af1 5%,#b35af4 11%,#b05af3 11%,#a53bf3 14%,#9f31f4 16%,#9c2ef1 17%,#8e1aef 20%,#9315f2 24%,#9315f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d691fe', endColorstr='#9315f2',GradientType=0 ); /* IE6-9 */
}

    body header {
        padding: 25px 15px 5px 15px;
    }

        body header div#header-container div#logo-container {
            float: left;
            position: relative;
        }

        body header div#header-container div#reg-form-container {
            float: right;
            position: relative;
            right: 5%;
            top: 50%;
        }

            body header div#header-container div#reg-form-container div {
                text-align: right;
            }

                body header div#header-container div#reg-form-container div label {
                    width: 50px;
                    margin: 5px;
                }

                body header div#header-container div#reg-form-container div input {
                    width: 130px;
                    border: 1px solid #603382;
                    border-radius: 10px;
                    padding: 2px 5px;
                    margin: 5px;
                    background-color: #B35EF3;
                }

            body header div#header-container div#reg-form-container button {
                margin-left: auto;
                margin-right: auto;
                font-weight: bold;
                color: white;
                border: 1px solid #603382;
                border-style: outset;
                border-radius: 10px;
                padding: 5px 8px;
                background: #b463f0; /* Old browsers */
                background: -moz-linear-gradient(left, #b463f0 0%, #b25ef2 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b463f0), color-stop(100%,#b25ef2)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left, #b463f0 0%,#b25ef2 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left, #b463f0 0%,#b25ef2 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left, #b463f0 0%,#b25ef2 100%); /* IE10+ */
                background: linear-gradient(to right, #b463f0 0%,#b25ef2 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b463f0', endColorstr='#b25ef2',GradientType=1 ); /* IE6-9 */
            }

                body header div#header-container div#reg-form-container button:hover {
                    background-color: #8949b9;
                    border-style: inset;
                }

        body header nav {
            display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            border: 2px solid #000;
            border-radius: 15px;
        }

            body header nav ul.nav-list {
                list-style-type: none;
            }

            body header nav ul li {
                float: left;
                margin: 0;
            }

                body header nav ul li a {
                    text-decoration: none;
                    padding: 0 10px 0 10px;
                    color: white;
                    font: 1.4em normal Arial;
                }

                    body header nav ul li a.selected {
                        font-weight: bold;
                    }

                body header nav ul li:hover > a {
                    text-decoration: underline;
                    color: #a8a8a8;
                }

                    body header nav ul li:hover > a + ul {
                        display: block;
                    }

                body header nav ul li ul.sub-nav-list {
                    position: absolute;
                    display: none;
                    background-color: rgba(179, 94, 243, 0.9);
                    border-radius: 5px;
                }

                body header nav ul li ul li {
                    float: none;
                    margin: 0 15px;
                    padding: 10px 0;
                    border-bottom: 1px solid black;
                }

                    body header nav ul li ul li:last-of-type {
                        border-bottom: none;
                    }

                    body header nav ul li ul li > a {
                        font-size: 1.2em;
                        color: #fff;
                    }

    body section {
        width: 75%;
        float: left;
        color: black;
    }

        body section article {
            margin: 20px;
            padding: 20px;
            border: 1px solid black;
            border-radius: 15px;
        }

            body section article header {
                background: none;
                padding: 5px;
            }

                body section article header h1 {
                    font-size: 1.4em;
                    padding: 0;
                }

            body section article footer {
                padding: 5px;
            }

                body section article footer p {
                    font-size: 16px;
                    text-align: right;
                    font-weight: normal;
                }

                    body section article footer p time {
                        font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
                    }

                    body section article footer p a {
                        text-decoration: none;
                        color: #AAA;
                    }

                        body section article footer p a:hover {
                            text-decoration: underline;
                        }

    body aside {
        float: left;
        width: 20%;
        margin: 20px;
    }

        body aside > ul {
            list-style-type: none;
        }

            body aside > ul > li {
                margin: 15px 0;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;
            }

                body aside > ul > li h2 {
                    font-size: 1.1em;
                    font-weight: bold;
                }

                body aside > ul > li p {
                    margin: 10px 5px 10px 5px;
                    font-size: 14px;
                }

                    body aside > ul > li p a {
                        color: #aaaaaa;
                        text-decoration: none;
                    }

                    body aside > ul > li p strong {
                        color: #cccccc;
                        font-weight: bold;
                        font-style: normal;
                    }

                    body aside > ul > li p em {
                        color: #cccccc;
                        font-weight: normal;
                        font-style: italic;
                    }

                body aside > ul > li ul {
                    list-style-type: none;
                    margin: 10px 0 10px 0;
                }

                    body aside > ul > li ul li {
                        margin: 5px 0 0 10px;
                        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90BCA0LNFA4GiMAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAAh9JREFUKM9Nkr1rVFEUxH9z733v7Ye7xKwkAfEDrdVaRFG0EPwAG7GwURC08J/RQiwsBFu1EBtBhDRiqREUG8VAiCTGuNnv9+49FqsxpzrFmTkzw4gdc+7CfeY2s0uV52xryIkQadcmfi+WBAKZjXJWSm+/+7neBez18rx/vvjs1jaH/i1XTz54un/dXayXPs/JSGYgwyyB/p6ZITkwcM5RUjJSrL7N8frDwcn5z0/uoitnHi4sbLqP81u+MwWDmZEsIUuYbKcJZMIknDySpuTyrDXj1vfO5EjYNdK9+a7rJCqMSNAustCins0SXJPct6aqmD4qU5cyDhmW61SxR2k9zBJ7+qHVr/nHodO1y4mEcwWd5jFaxT7y0MYs/lWbtnMxQNoHBpKnjD22ht/5OViiin3mN3UqhEhmZuS+RRHaBF/HSEAipYSZ7YwQKeEkDBFcjVo+QzFuUcUeSlL40eHd4dVwfFCusbzxiiLbTSNboJ7tIQttvCsQ/ywnYhxTxj6jco3B5AejagOzROZyVmbi17BZize7jfC+PcxyU2ISu4yrX2z0E6aEYTgCkiPaGOGQCTmP8Dg5nAL9wuLqbHVDAGcu3z9yeCV7Mffb7y8sSIJkU7tJCZm2SyYTTgJNiceqbL0ZVz/ttWuLL28vamclrpx+eDSPut6Y2PnGgANFpUZzovA/Q2OQWxwHhoM6y72avYneniwd4u2XR3cA+AN6iQt1xYT78wAAAABJRU5ErkJggg==) no-repeat;
                        background-position: 0 50%;
                        padding-left: 25px;
                    }

    body footer {
        clear: both;
        padding: 15px 0 25px 0;
        text-align: center;
    }

        body footer p {
            font-size: 1.2em;
            font-weight: bold;
        }
