<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[0] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[0] == 'X'">
  </div>
</div>
<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[1] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[1] == 'X'">
  </div>
</div>
<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[2] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[2] == 'X'">
  </div>
</div>
<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[3] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[3] == 'X'">
  </div>
</div>
<div class="square">
  <img src="/img/o.png" ng-if="game.Board[4] == 'O'">
  <img src="/img/x.png" ng-if="game.Board[4] == 'X'">
</div>
</div>
<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[5] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[5] == 'X'">
  </div>
</div>
<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[6] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[6] == 'X'">
  </div>
</div>
<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[7] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[7] == 'X'">
  </div>
</div>
<div class="square">
  <div class="content">
    <img src="/img/o.png" ng-if="game.Board[8] == 'O'">
    <img src="/img/x.png" ng-if="game.Board[8] == 'X'">
  </div>
</div>