extends shared/layout
block main-content
    h1.text-center.jumbotron Welcome to YouTube Playlists Exam
    div.text-center
        a(href="https://www.youtube.com/watch?v=gbcGX9zO1u8" target="_blank") Enjoy this music while checking this exam
        hr
    div.col-md-6.col-md-offset-3
        table.table.table-striped.table-hover.text-center
            thead
                tr
                    th.text-center Playlist Title
                    th.text-center Playlist Category
                    th.text-center Playlist Rating
            tbody
                each playlist in playlists
                    tr
                        td #{playlist.title}
                        td #{playlist.category}
                        td #{playlist.rating}
