.gradient(@fromColor, @fromPosition, @toColor, @toPosition ) {
    background: @fromColor;
    background: -moz-linear-gradient(top, @fromColor @fromPosition, @toColor @toPosition);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@fromPosition,@fromColor), color-stop(@toPosition,@toColor));
    background: -webkit-linear-gradient(top, @fromColor @fromPosition,@toColor @toPosition);
    background: -o-linear-gradient(top, @fromColor @fromPosition,@toColor @toPosition);
    background: -ms-linear-gradient(top, @fromColor @fromPosition,@toColor @toPosition);
    background: linear-gradient(to bottom, @fromColor @fromPosition,@toColor @toPosition);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@fromColor', endColorstr='@toColor',GradientType=0 );
}

.clearfix() {
    zoom: 1;

    &:after {
        display: block;
        content: "";
        height: 0;
        clear: both;
    }
}

@default-border: 1px solid #000;
@default-border-radius: 15px;
@default-font-color: #FFF;
@default-font-size: 14px;
@default-font-family: Arial;
@default-link-color: rgb(170, 170, 170);
@default-background-color: #AF57F3;

body, header, footer, aside, section, div, p, ul, li, a, article, h1, h2 {
    margin: 0;
    padding: 0;
    font: @default-font-size normal @default-font-family;
}

article {
    border: @default-border;
    float: left;
    margin: 15px 20px 5px 20px;
    padding: 20px;
    border-radius: @default-border-radius;

    header {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-left: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    footer {
        text-align: right;
    }
}

section {
    float: left;
    width: 75%;
}

aside {
    float: left;
    width: 20%;
    margin: 25px 0 0 20px;
}

aside > ul > li {
    list-style-type: none;
    border: @default-border;
    border-radius: @default-border-radius;
    height: 170px;
    margin-bottom: 15px;
}

body {
    .gradient(#d691fe, 0, #9315f2, 25%);
    color: @default-font-color;

    a {
        text-decoration: none;
        color: @default-link-color;
    }


    & > footer {
        float: left;
        width: 100%;
        margin: 30px 0 20px 0;

        p {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

#logo-container {
    float: left;
}

header {
    padding: 25px 15px 5px 15px;
    margin: 0;

    #reg-form-container {
        float: right;
        position: relative;
        top: 50%;
        right: 5%;

        form div {
            text-align: right;
        }

        input {
            height: 18px;
            border: @default-border;
            border-radius: @default-border-radius;
            background: @default-background-color;
            margin-bottom: 10px;
        }

        #btn-register {
            font-weight: bold;
            color: #FFF;
            border: 1px outset #603382;
            border-radius: 10px;
            padding: 5px 8px;
            .gradient(#B463F0, 0, #B25EF2, 100%);
        }
    }

    ul li:hover > a {
        text-decoration: underline;
        color: #A8A8A8;
    }

    ul li:hover > ul li {
        display: block;
    }

    nav {
        display: inline-block;
        width: 75%;
        margin: 20px 20px 20px 20px;
        padding: 12px;
        border: @default-border;
        border-width: 2px;
        border-radius: @default-border-radius;

        & > ul li {
            list-style-type: none;
            float: left;
            margin: 0 10px 0 10px;

            & > ul > li {
                display: none;
            }

            a {
                text-decoration: none;
                color: @default-font-color;
                font-size: 1.4em;
            }

            .sub-nav-list {
                position: absolute;
                background-color: rgba(179, 94, 243, 0.9);
                border-radius: 5px;

                li {
                    float: none;
                    border-bottom: @default-border;
                    padding: 10px 0 10px 0;
                    margin: 0 15px 0 15px;
                }

                li:last-of-type {
                    border-bottom: 0;
                }
            }
        }
    }
}
