<div class="container">
  <div class="well">
    <form name="createProjectForm" class="form-horizontal" novalidate>
      <fieldset>
        <legend>Create New Project</legend>
        <div class="form-group">
          <label for="name" class="col-md-2 control-label">Project Name</label>

          <div class="col-md-10">
            <input id="name" type="text"
                   name="name"
                   placeholder="Type name here"
                   ng-model="project.Name"
                   required="required"
                   ng-minlength="3"
                   ng-maxlength="100"
                   class="form-control"/>
          </div>
          <div class="col-md-10 col-md-offset-2 help-block"
               ng-messages="createProjectForm.name.$error"
               ng-if="createProjectForm.name.$invalid && createProjectForm.name.$touched">
            <div class="text-danger">Please enter a project name between 3 and 100 characters!</div>
          </div>
          <label for="description" class="col-md-2 control-label">Project Description</label>

          <div class="col-md-10">
            <textarea id="description"
                      name="description"
                      placeholder="Type description here"
                      ng-model="project.Description"
                      required="required"
                      ng-minlength="3"
                      ng-maxlength="1000"
                      class="form-control"></textarea>
          </div>
          <div class="col-md-10 col-md-offset-2 help-block"
               ng-messages="createProjectForm.name.$error"
               ng-if="createProjectForm.description.$invalid && createProjectForm.description.$touched">
            <div class="text-danger">Please enter a project description between 3 and 1000 characters!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="license" class="col-md-2 control-label">License</label>
          <div class="col-md-10">
            <select class="form-control" id="license" ng-model="project.LicenseId">
              <option ng-repeat="license in vm.licenses" value="{{license.Id}}">{{license.Name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-2">
            <label for="private">
              Is Private<input id="private" type="checkbox" ng-model="project.Private">
            </label>
          </div>
        </div>
        <div class="pull-right" style="margin-top: 10px;">
          <button ng-click="vm.createProject(project)" ng-disabled="createProjectForm.$invalid" class="btn btn-primary">
            Create
          </button>
          <a href="#/" class="btn btn-primary">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>