ul > li {
    list-style-type: none;
}

.hidden {
    display: none;
    text-decoration: none;
    color: darkgray;
    margin-left: -30px;
}

ul li:hover ul {
    display: block;
}

body > ul > li:hover {
    display: inline;
    border-bottom: 1px solid black;
}
