ul > li {
    list-style-type: none;
    position: relative;
}

.hidden {
    display: none;
    text-decoration: none;
    color: darkgray;
    margin-left: -30px;
}

ul li:hover {
    text-decoration: underline;
}

    ul li:hover ul {
        display: inline-block;
        position: absolute;
    }

    ul li:hover span {
        text-decoration: none;
    }
