<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome Dev Ninja</h1>
    <h2>May the code be with you!</h2>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <div>
        <strong>Users</strong>
      </div>
      <div>
        <span>{{vm.stats.Users}}</span>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <strong>Projects</strong>
      </div>
      <div>
        <span>{{vm.stats.Projects}}</span>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <strong>Commits</strong>
      </div>
      <div>
        <span>{{vm.stats.Commits}}</span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-6">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Projects</h3>
        </div>
        <div class="panel-body">
          <div all-projects></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Commits</h3>
        </div>
        <div class="panel-body">
          <div all-commits></div>
        </div>
      </div>
    </div>
  </div>
</div>